* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.taxes {
  margin-top: 60px;
  border: 2px solid lightgray;
  padding: 10px 20px;

  max-height: 600px;
  min-height: 600px;
  height: 600px;
  /*overflow: auto;*/

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.taxes__basic {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;
}

.menu__name {
  font-size: 24px;
  font-weight: bold;
}

.menu__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.taxes__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  align-items: stretch;
  margin-bottom: 1px;
}

.title__item {
  background: #064D70;
  color: white;
  padding: 15px;
  text-align: left;
  font-size: 16px;

}

.title__number, .tax__number {
  max-width: 70px;
  min-width: 70px;
}

.title__data, .tax__date {
  max-width: 150px;
  min-width: 150px;
}

.title__income, .tax__income {
  max-width: 150px;
  min-width: 150px;
}

.title__currency, .tax__currency {
  max-width: 150px;
  min-width: 150px;
}

option {
   background: #064D70;
   color: white;
}


/**/
.title__course, .tax__course {
  max-width: 150px;
  min-width: 150px;
}

.title__sum, .tax__sum {
  max-width: 150px;
  min-width: 150px;
}

.title__tax, .tax__tax {
  max-width: 150px;
  min-width: 150px;
}


.taxes__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-width: 100%;
  max-height: 340px;
  height: 100%;
  overflow: auto;

}


.tax {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  min-width: 100%;
  min-height: 45px;
}

.tax:hover .tax__data  {
  opacity: 1.5;
  transition:  opacity 0.3s;
}

.tax__data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  border-bottom: 1px solid gray;
}

.tax__data:hover {
  /*border-bottom: 1px solid #067ab7;*/
}


.tax__item {
  padding: 5px 10px;
  text-align: left;

  min-height: 44px;
}


.tax__item:focus {
  outline: 2px solid #064D70;
}



.tax:nth-child(odd) .tax__data, .tax:nth-child(odd) .tax__item   {
  background: #F5F7FA;
}

.tax:nth-child(even) .tax__data, .tax:nth-child(even) .tax__item {
  background: #dee1e6;
}

.tax:hover .tax__item{
  /*background: #f0efe5;*/
}



.tax__btn-remove {
  margin: 0 10px;
  padding: 5px;
  background: none;
  color: black;
  font-size: 18px;
  outline: none;

  width: 20px;
  height: 20px;


  background: black;

  visibility: hidden;
}

.tax__btn-remove:hover {
  /*opacity: 0.7;*/
  /*transition: opacity 0.3s;*/
  cursor: pointer;

}

.tax:hover .tax__btn-remove {
  transition: visibility 0.3s;
  visibility: visible;
}


.button--add {
  width: 30px;
  height: 30px;
  margin: 10px 0;

  background: #487650;
  color: white;
  border-radius: 50%;
  outline: none;
  font-weight: bold;
  font-size: 20px;
}


.button--add:hover {
  cursor: pointer;
  background: #5a9164;
  transition: background 0.3s;
}


.calculate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /*align-self: flex-end;*/


  padding: 5px 0;
  margin-top: 15px;


}

.button--calculate {
  background: #064D70;
  border-radius: 5px;
  color: white;
  outline: none;

  padding: 10px;
}

.button--calculate:hover {
  cursor: pointer;
  background: #065a85;
  transition: background 0.3s;
}

.calculate__total {
  margin: 0 20px;
  font-size: 26px;
}
